<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.pms.mapper.ProductMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, brand_id, product_category_id, feight_template_id, product_attribute_category_id, name, pic, product_sn, delete_status, publish_status, new_status, recommand_status, verify_status, sort, sale, price, promotion_price, gift_growth, gift_point, use_point_limit, sub_title, description, original_price, stock, low_stock, unit, weight, preview_status, service_ids, keywords, note, album_pics, detail_title, detail_desc, detail_html, detail_mobile_html, promotion_start_time, promotion_end_time, promotion_per_limit, promotion_type, brand_name, product_category_name
    </sql>
    <sql id="Base_Column_List_Without_Id">
            brand_id, product_category_id, feight_template_id, product_attribute_category_id, name, pic, product_sn, delete_status, publish_status, new_status, recommand_status, verify_status, sort, sale, price, promotion_price, gift_growth, gift_point, use_point_limit, sub_title, description, original_price, stock, low_stock, unit, weight, preview_status, service_ids, keywords, note, album_pics, detail_title, detail_desc, detail_html, detail_mobile_html, promotion_start_time, promotion_end_time, promotion_per_limit, promotion_type, brand_name, product_category_name
    </sql>

    <!-- Long insertAndReturnId(Product product);-->
 <!--   <insert id="insertAndReturnId" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO `pms_product`(
          <include refid="Base_Column_List_Without_Id"/>
        ) VALUES(#{brandId},#{productCategoryId},
        #{});
    </insert>-->

    <!--  List<EsProductAttributeValue> getProductSaleAttr(Long productId);

    List<EsProductAttributeValue> getProductBaseAttr(Long productId);-->
    <select id="getProductSaleAttr" resultType="com.atguigu.gmall.to.es.EsProductAttributeValue">
        SELECT pav.*,pa.name,pa.type FROM `pms_product_attribute_value` pav
            LEFT JOIN `pms_product_attribute` pa
            ON pa.id=pav.product_attribute_id
            WHERE
            product_id=#{productId} AND pa.type=0
    </select>

    <select id="getProductBaseAttr" resultType="com.atguigu.gmall.to.es.EsProductAttributeValue">
         SELECT pav.*,pa.name,pa.type FROM `pms_product_attribute_value` pav
            LEFT JOIN `pms_product_attribute` pa
            ON pa.id=pav.product_attribute_id
            WHERE
            product_id=#{productId} AND pa.type=1
    </select>

</mapper>
